.form {
  width: 700px;
  background-color: #000000;
  opacity: 1;
  background-size: 21px 21px;
  background-image: repeating-linear-gradient(
    45deg,
    #f605fe 0,
    #f605fe78 2.1px,
    #000000 0,
    #000000 50%
  );
}
