.parallax-effect-glare-scale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  color: white;

  border-radius: 5%;
  transform-style: preserve-3d;

  .inner-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    color: white;
    transform: translateZ(60px);
  }
}
